.loader {
    position: relative;
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blob_1,
.blob_2,
.blob_3 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 1px solid ;
    border-color:  #f0788a;
    border-radius: 54% 46% 53% 47% / 63% 70% 30% 37% ;

    animation: spin 4s linear infinite;
}

.blob_1 {
    border-radius: 65% 35% 55% 45% / 41% 50% 50% 59%;
}

.blob_2 {
    border-radius: 44% 56% 62% 38% / 43% 49% 51% 57%;
    animation-duration: 5s;
}

.blob_3 {
    border-radius: 53% 47% 40% 60% / 43% 39% 61% 57%;
    animation-direction: reverse;
}

.text {
    text-transform: uppercase;
    color: #d05a6e;
    font-weight: bold;
    letter-spacing: 1px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}