.confirm_red,
.confirm_green,
.cancel_gray,
.nav_pink {
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 5px;   
    cursor: pointer;
}

.confirm_red {
    background-color: #f15b5b;
}
.confirm_red:hover {
    background-color: rgb(235, 49, 49);
}

.confirm_green {
    background-color: rgb(151, 207, 146);
}
.confirm_green:hover {
    /* background-color: rgb(162, 229, 156); */
    background-color: rgb(107, 209, 97);

}

.cancel_gray {
    background-color: gainsboro;
}
.cancel_gray:hover {
    background-color: rgb(172, 172, 172);
}

.nav_pink {
    background-color: #fa838c;
}
.nav_pink:hover,
.submit_auth_form:hover {
    background-color: #ffb0b9;
}

.edit,
.bin {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    z-index: 10;

    cursor: pointer;
    transition: 0.2s linear;
}

.edit:hover,
.bin:hover {
    transform: scale(120%);
}

.edit {
    background: url('../../assets/svg/edit.svg') no-repeat center center;
}
.bin{
    background: url('../../assets/svg/bin.svg') no-repeat center center;
}

.delete,
.delete_by_hover_task {
    width: 15px;
    height: 15px;
    padding: 0;

    background: url('../../assets/svg/close.svg') no-repeat center center;
    border: none;
    z-index: 10;

    cursor: pointer;
    transition: 0.2s linear;
}

.delete:hover {
    transform: scale(120%);
}

.delete_by_hover_task {
    visibility: hidden;
    opacity: 0;
}

[data-task-id]:hover .delete_by_hover_task {
    visibility: visible;
    opacity: 1;
}

.submit_auth_form {
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;

    text-align: center;
    border: 0;
    border-radius: 7px;
    background-color: #fa838c;
    cursor: pointer;
}

.arrow_back {
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    border: none;
    background: url('../../assets/svg/arrow.svg') no-repeat center center;
    z-index: 10;
    cursor: pointer;
}

.btn {
    transition: linear 0.2s;
}


@media (max-width: 500px) {
    .btn {
        padding: 5px;
    }
    
}
