.wrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(252, 126, 126);
    z-index: 10;
}

.error_container {

    padding: 0 50px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    text-align: center;
    transform: translateY(250px);
}

.oops {
    font-size: 120px;
}

.text {
    font-size: 32px;
}