.select {
    padding: 10px;
    background-color: #fa838c;
    border: none;
    border-radius: 5px;   
    cursor: pointer;
}

@media (max-width: 500px) {
    .select {
        padding: 4px;
    }

}
