.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 40px;
    display: inline-block;

    background-color: #ff9278;
    border-radius: 5px; 
}