.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_logo {
    display: flex;
}

.logo {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url('../../assets/svg/kanban_logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    border-radius: 5px;
}