.textarea {
    width: 100%;
    min-height: 30px;
    padding: 5px 8px;

    background-color: transparent;
    border: 0;
    border-radius: 7px;
    font-size: 20px;

    cursor: pointer;
    resize: none;
    overflow: hidden;
}

.textarea:focus{
    outline: 1px #b1b1b1 solid;
    background-color: white;
}