@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2"),
       url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Semibold.woff2") format("woff2"),
       url("./assets/fonts/Gilroy-Semibold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to top, #ffbeb5, #ffcbd4, #f9dbea, #f4ebf6, #f9f9f9);
  font-family: 'Gilroy', sans-serif;
  color: #000000;
}

body,
p,
ul,
ol,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: #000000;
}