.tasks {
    min-height: 1px;
    margin-bottom: 10px;
    padding: 2px;

    display: flex;
    gap: 7px;
    flex-direction: column;

    overflow: hidden auto;
}

.tasks::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    margin-right: 5px;
    background-color: #f9f9fd;
}

.tasks::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#c78b8b;
}
  
.tasks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}